<h1>Name: </h1>
<%= 'Leon Kwak' %>
<br/>
<h1>Hometown: </h1>
<%= 'Minneapolis, but raised in Bay Area' %>
<br/>
<h1>Year: </h1>
<%= 'Sophomore' %>
<br />
<h1>Fun fact: </h1>
<%= 'I rode the tallest waterslide in the world' %>
<br />
<h1>What I'm Most Excited About: </h1>
<%= 'Learning a new programming language and making my first website!' %>
<br />
<br />
<%= image_tag("professional.jpg", size: "450x300") %>
<br />
